.post-list{
  h3{
    margin-bottom: 10px;
  }
}

.post-tags{
  display: inline-block;
  // text-align: right;
}
.ctr-img{
  margin: 0 auto;
  display: block;
}

.post-content{
  h1{ font-size:26px; }
  h2{ font-size:20px; font-weight:bold }
  h3{ font-size:16px; font-weight:bold }
}

hr{
  margin-bottom: 15px;
}

table th{
  background-color: #fff;
}

.MathJax_Display{
  // font-size: 22px;
}
.red{
  color: red;
}
